<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/x-icon" href="./img/veterinarian_dog.png" />
    <title>Admin</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>

<div class="contenedor-crud">
<div class="gallery-crud">
	<% for (var i=0; i<userList.length; i++) { %>
	<div class="gallery-image-crud">
				<img src=<%= userList[i].imagen %> alt="" class="image-crud" />
                <div class="btn-actions">
                    
                        <label>Descripcion</label>
                        <br>
                        <label><%= userList[i].descripcion %></label>
                        <br>
                        <!-- <input type="text" placeholder=<%= userList[i].descripcion %> name="descripcion" id="descripcion" required> -->
                        <br>
                        <label>Imagen</label>
                        <br>
                        <label><%= userList[i].imagen %></label>
                        <br>
                        <!-- <input type="text" placeholder=<%= userList[i].imagen %> name="imagen" id="imagen" required> -->
                        <a href="./admin/<%= userList[i].id %>">EDITAR</a>

                    <form action="/admin/<%= userList[i].id %>?_method=DELETE" method="post">

                        
                        <button class="btn-crud" type="submit" >BORRAR</i></button>
                    </form>
                </div>
            </div>
			<% } %>
	</div>


<div class="formulario">
    <form class="formu" action="/admin" method="post" enctype="multipart/form-data">
        <br>
        <label>ID</label>
        <br>
        <input type="text" name="id" id="id" required>
        <br>
        <label>Descripción</label>
        <br>
        <input type="text" name="descripcion" id="descripcion" required>
        <br>
        <label>Imagen</label>
        <br>
        <input type="text" name="imagen" id="imagen" required>
        <!-- <input type="file" name="archivo" id="archivo" single > -->
        <div class="btn-upload">
        <label id="btn-subir-archivo">
            <input type="file"/>Subir Archivo
        </label>
        
        <button class="btn-form" type="submit">Crear</button>
        </div>
    </form>
</div>
</div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>